<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <i class="icofont-envelope"></i><a href="mailto:contact@example.com">mamagenge98@gmail.com</a>
      <i class="icofont-phone">+255737102447
      </i>
    </div>
    <div class="social-links float-right">
      <a class="twitter"><i class="icofont-twitter"></i></a>
      <a class="facebook"><i class="icofont-facebook"></i></a>
      <a class="instagram" href="https://www.instagram.com/mamagenge_"><i class="icofont-instagram"></i></a>
    </div>
  
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a routerLink="/"><span>MamaGenge</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a ><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a href="/products">Shopping</a></li>
        <!--        <li><a href="#location">Location</a></li>-->
        <!--        <li><a href="#services">Services</a></li>-->
        <!--        <li><a href="#portfolio">Portfolio</a></li>-->
        <!--        <li><a href="#team">Team</a></li>-->

        <li *ngIf="username" style="padding: 8px">
          <button style="padding: 8px; display: flex; justify-content: center; align-items: center"
                  [matMenuTriggerFor]="menu" class="btn btn-outline-primary">
            <mat-icon>person</mat-icon>
            <span>{{username}}</span>
          </button>
          <mat-menu #menu>
            <button (click)="logOut()" mat-button>Logout</button>
          </mat-menu>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
