<app-navibar></app-navibar>

<section>
  <div class="gap100">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="shop-page">

            <div class="shop-filter-sec">
              <span>Showing 1–12 of 42 results</span>
              <div class="shop-filter">
                <select>
                  <option>sort by</option>
                  <option>newest</option>
                  <option>price low to high</option>
                  <option>price high to low</option>
                  <option>sort by average rating</option>
                </select>
              </div>
            </div>
            <app-products-list></app-products-list>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<a class="shopping-cart" href="#" title=""><i class="fa fa-shopping-bag"></i><span>02</span></a>

<app-footer></app-footer>
