<div class="product-box">
  <figure>
    <span class="new">New</span>
    <img src="{{product.image}}" alt="">
    <ul class="cart-optionz">
      <li><a href="#" title="Add Cart" data-toggle="tooltip"><i class="ti-shopping-cart"></i></a></li>
      <li><a href="#" title="Quick Shop" data-toggle="tooltip"><i class="ti-eye"></i></a></li>
      <li><a href="#" title="Wishlist" data-toggle="tooltip"><i class="ti-heart"></i></a></li>
      <li><a href="#" title="Compare" data-toggle="tooltip"><i class="ti-split-v-alt"></i></a></li>
    </ul>
  </figure>
  <div class="product-name">
    <h5><a href="greenbeans.html" title="">{{product.name}}</a></h5>
    <ul class="starz">
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>

  </div>
</div>
