@import '~@angular/material/theming';

@include mat-core();

$smartstock-shop-core: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$smartstock-shop-core-primary: mat-palette($mat-green, 900);
$smartstock-shop-core-accent: mat-palette($mat-green, A200, A100, A400);

$smartstock-shop-core-warn: mat-palette($mat-red);

$smartstock-shop-core-theme: mat-light-theme((
  color: (
    primary: $smartstock-shop-core-primary,
    accent: $smartstock-shop-core-accent,
    warn: $smartstock-shop-core-warn,
  )
));

@include angular-material-theme($smartstock-shop-core-theme);

.primary-color {
  color: mat-color($smartstock-shop-core-primary) !important;
}

.primary-bg-color {
  background: mat-color($smartstock-shop-core-primary) !important;
}

.primary-bg-litter-color {
  background: mat-color($smartstock-shop-core-primary, 700) !important;
}

.accent-color {
  color: mat-color($smartstock-shop-core-accent) !important;
}

.accent-bg-color {
  background: mat-color($smartstock-shop-core-accent) !important;
}

.warn-color {
  color: mat-color($smartstock-shop-core-warn) !important;
}

.warn-bg-color {
  background-color: mat-color($smartstock-shop-core-warn) !important;
}
